.img-details {
	max-width: 100%;
	max-height: 400px;
	margin: 0px auto;
}

.product-details > div {
	font-size: 24px;
	margin-bottom: 20px;
}
.product-details > div::before {
	content: '-';
}
.product-details > div > span {
	font-size: 24px;
	font-weight: bold;
}
.product-details + div {
	justify-content: center;
	margin-top: 50px;
}
